* {
    font-family: 'roboto';
    
}

html, body {
    margin: 0px;
    padding: 0px;
    position: relative;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}



@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/box';
@import 'blocks/company';
@import 'blocks/whois';
@import 'blocks/map';
@import 'blocks/footer';




@font-face {
    font-family: 'roboto';
    src: url(/fonts/web/roboto.woff) format('woff'), url(/fonts/web/roboto.woff2) format('woff2');
    font-weight: 400;
  }
  
  
  @font-face {
    font-family: 'robotobold';
    src: url(/fonts/web/robotobold.woff) format('woff'), url(/fonts/web/robotobold.woff2) format('woff2');
    font-weight: 700;
  }